[Unit]
Description=ITSS_DBA Next.js Application
Wants=network-online.target
After=network-online.target oracle-xe-21c.service

[Service]
Type=simple

# Run app as root only if you have no separate user yet.
# Recommended later: create a non-root user like nextapp.
User=root
Group=root

# This must be the directory where package.json is present
WorkingDirectory=/data1/oracle_dba_app/oracle_dba_app_v7.5

Environment=NODE_ENV=production
Environment=PORT=3001
Environment=NODE_OPTIONS=--max-old-space-size=1024

ExecStart=/usr/bin/npm run start

Restart=on-failure
RestartSec=5

KillSignal=SIGTERM
TimeoutStopSec=30

# Resource limits
CPUQuota=20%
MemoryHigh=4200M
MemoryMax=5000M

[Install]
WantedBy=multi-user.target
